@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

:root{
    --background_color : #d4d0d0e1;
    --border_color: black;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(8, 8, 8);
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 60%;
    margin: 30px auto;
    

    /* background-image: url(background.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* height: 100vh; */
    /* background-blend-mode:difference; */
    font-family:'Combo', cursive; 
}
img{
    width: 20%;

}
.heading{
    align-items: center;
    text-align: center;
    background-color: var(--background_color);
    padding: 1rem;
    box-sizing: border-box;
    display: block;

}
textarea{
    width: 90%;
    height: 15vh;
    display: block;
    margin: 1rem;
    padding: 2rem;
    box-sizing: border-box;
    min-height: 20vh;
    font-size: large;
    font-family: inherit;
    overflow: scroll;
    background-color: rgb(35, 34, 34);
    align-items: center;
    align-content: center;
}


#output{
    border: 1px solid var(--border_color);
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    overflow: scroll;
    min-height: 10vh;
    max-height: 20vh;
    display: block;
    background-color: rgb(35, 34, 34);

}

button{
    background-color:var(--background_color);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-size: large;
    font-family:'Combo', cursive ;
    text-align: center;
}

footer{
    padding: 2rem;
    background-color: var(--background_color);
    text-align: center;
    align-items: center;
}
