@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

:root{
    --background_color : #b2ced8e1;
    --border_color: black;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(8, 8, 8); */
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 60%;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:20px;
    font-family:'Combo', cursive;  
    background-color: var(--background_color); 
}

img{
    /* background-position-x: left; */
    width: 25%;
    float: right;
}

.img1{
    width: 45%;
    float: left;
}

.heading{
    align-items: center;
    text-align: center;
    /* background-color: var(--background_color); */
    padding: 1rem;
    /* margin-right: 3rem; */
    box-sizing: border-box;
    /* display: flex; */
}
textarea{
    width: 90%;
    height: 15vh;
    display: block;
    margin: 1rem;
    padding: 2rem;
    box-sizing: border-box;
    min-height: 20vh;
    font-size: large;
    font-family: inherit;
    /* overflow: scroll hidden; */
    /* background-color: rgb(35, 34, 34); */
    align-items: center;
    align-content: center;
    border: 2px solid var(--border_color);
    border-radius: 1rem;
}


#output{
    border:2px solid var(--border_color);
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    /* overflow: scroll hidden ; */
    min-height: 10vh;
    max-height: 20vh;
    display: block;
    /* border: 0.5rem; */
    border-radius: 0.5rem;
    background-color: rgb(253, 252, 252);

}

button{
    /* background-color:var(--background_color); */
    border: 2px;
    border-radius: 2rem;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-size: large;
    font-family:'Combo', cursive ;
    text-align: center;
}

footer{
    padding: 2rem;
    /* background-color: var(--background_color); */
    text-align: center;
    align-items: center;
}
